
@{
	ViewBag.Title = "GetStaffList";
}

<h2>GetStaffList</h2>

@{
	Layout = null;
}

<link href="~/Content/css/select2.min.css" rel="stylesheet" />
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/select2.min.js"></script>

<br />

	<select class="StaffName" name="staffname" style="width:500px"></select>
	<br />
	<input type="submit" value="Submit" class="submitBtn"/>


<script>
	$(document).ready(function () {
		$(".StaffName").select2({
	placeholder: "Search Employee Name",
			theme: "classic",
			ajax: {
		type: "GET",
				url: "/AppointDeptStaff/GetStaffList",
				success: console.log("success"),
				dataType: "json",
				data: function (params) {
				return {
				searchTerm: params.term
					};
			},
				processResults: function (data) {
				return {
				results: $.map(data, function (obj) {
						return {
						id: obj.id,
								text: obj.text
							}
					})

					};
			}
		}
		});
		$(".submitBtn").click(function () {
			let selected = $(".StaffName option:selected").text();
			$.ajax(
				{
					url: "/AppointDeptStaff/AppointStaff?staffname=" + selected,
					contentType: 'application/json',
					dataType: 'json',
					type: 'POST',
					success: function (data) {
						alert("success");
					},
					error: function () { alert('error'); }
				});
		})
		
});
</script>


@*<script>
		$(document).ready(function () {
			$(".StaffName").select2({
				placeholder: "Staff",
				theme: "classic",
				ajax: {
					type: "POST",
					url: "/AppointDeptStaff/GetStaffListView",
					dataType: "json",
					delay: 250,
					data: function (params) {
						return {
							searchTerm: params.term

						};
					},
					processResults: function (data) {
						return {
							results: data
						};
					}
				}
			});
		});
	</script>*@

